<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>CET</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExamInfoServlet</display-name>
    <servlet-name>ExamInfoServlet</servlet-name>
    <servlet-class>com.controller.ExamInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamInfoServlet</servlet-name>
    <url-pattern>/ExamInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuRegServlet</display-name>
    <servlet-name>StuRegServlet</servlet-name>
    <servlet-class>com.controller.StuRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuRegServlet</servlet-name>
    <url-pattern>/StuRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuStatusInfoServlet</display-name>
    <servlet-name>StuStatusInfoServlet</servlet-name>
    <servlet-class>com.controller.StuStatusInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuStatusInfoServlet</servlet-name>
    <url-pattern>/StuStatusInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>